* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    font-size: 62.5%;
    background-color: #231F20;

}